<div class="container my-4">
    <h1>Edit Customer</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="editCustomer()">
                    <div class="mb-2">
                        <label for="id">Id</label>
                        <input type="text" class="form-control" id="id" name = "id" [(ngModel)] = "editCustomerRequest.id">
                    </div>
                
                <div class="mb-2">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name = "name" [(ngModel)] = "editCustomerRequest.name">
                </div>

                <div class="mb-2">
                    <label for="birthDate">Birth Date</label>
                    <input type="date" class="form-control" id="birthDate" placeholder="Enter Birth Date" name = "birthDate" [(ngModel)] = "editCustomerRequest.birthDate" >
                </div>

                <div class="mb-2">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="Enter CPF" name = "cpf" [(ngModel)] = "editCustomerRequest.cpf">
                </div>

                <div class="mb-2">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter E-mail" name = "email" [(ngModel)] = "editCustomerRequest.email">
                </div>

                
                    <button style="margin-right: 10px" type="button" class="btn btn-primary"> <a [routerLink]="['/customers']" style="color:black"> Back </a></button>  <button style="margin-right: 10px" type="button" class="btn btn-danger" (click)="deleteCustomer(editCustomerRequest.id)">Delete </button>  <button type="submit" class="btn btn-primary">Submit</button>
                
            </form>
        </div>
    </div>

</div>
